---
layout: main
title: Fotky | Festiválek bez bojů a válek
class: fotky
---

{% for rocnik in site.data.fotky %}
    <h2>Ročník {{ rocnik.rocnik }}</h2>
    <div class="row gallery">
    {% for fotka in rocnik.fotky %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/fotky/plne/{{ rocnik.rocnik }}/{{ fotka }}" class="fancybox thumbnail" rel="{{ rocnik.rocnik }}">
            <img src="/fotky/nahledy/{{ rocnik.rocnik }}/{{ fotka }}" alt="">
        </a>
    </div>
    {% endfor %}
    </div>
{% endfor %}
