html {
    min-height: 100%;
    min-width: 1000px;
    position: relative;
}

body {
    background: url(/img/paper.png);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.4em;
    height: 100%;
}

/* Sidebar */

#sidebar {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/img/blue.png);
    box-shadow: 2px 2px 7px rgba(80, 80, 80, 0.7);
    color: white;
}

#sidebar .content {
    position: absolute;
    right: 30px;
    top: 40px;
}

/* Logo */

h1 {
    width: 260px;
    padding-top: 280px;
    line-height: 1em;
    background: url(/img/logo.png) top left no-repeat;
    text-align: center;
}

h1 .subtitle {
    text-transform: none;
    font-style: italic;
    white-space: nowrap;
    font-size: 90%;
}

.kern {
    letter-spacing: -0.15em;
}

h1, #menu {
    font-size: 26px;
    font-weight: normal;
}

h1, h2, #menu {
    text-transform: uppercase;
}

/* Menu */

ul#menu {
    list-style: none;
    text-align: right;
    line-height: 1.4em;
    padding: 0 2em 0 2em;
    margin: 0;
}

ul#menu a, ul#menu a:visited {
    color: white;
    text-decoration: none;
}

#menu li {
    position: relative;
}

body.informace #menu li.informace a:after,
body.program   #menu li.program   a:after,
body.fotky     #menu li.fotky     a:after,
body.panteri   #menu li.panteri   a:after {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(/img/pick.png);
    top: -30px;
    right: -110px;
    width: 97px;
    height: 85px;
}

/* Content */

#content {
    margin-left: 40%;
    padding: 40px;
    padding-top: 50px;
    padding-left: 50px;
}

ul.facts {
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: blue;
    text-decoration: underline;
}

/* Contacts */

.card {
    margin-bottom: 20px;
}

.card .role {
    color: grey;
    font-style: italic;
}

.role.inline:before {
    content: "· ";
}

/* Photos */

#gallery {
    font: 0px/0px serif;
    width: 550px;
}
