body {
    font-family: "Palatino Linotype", Palatino, serif;
    background: url(blue.png);
    padding-top: 100px;
    color: white;
}

#content {
    width: 260px;
    margin: auto;
}

h1 {
    width: 260px;
    padding-top: 280px;
    line-height: 1em;
    background: url(logo.png) top left no-repeat;
    text-align: center;
}

h1 .subtitle {
    text-transform: none;
    font-style: italic;
    white-space: nowrap;
    font-size: 90%;
}

.kern {
    letter-spacing: -0.15em;
}

h1 {
    font-size: 26px;
    font-weight: normal;
}

h1, h2 {
    text-transform: uppercase;
}

p {
    text-align: center;
    font-style: italic;
}
