<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style/main.css">
    <script src="/code/pick.js"></script>
</head>
<body>
    <div id="sidebar">
        <div class="content">
            <h1>Festiválek <span>bez bojů a válek</span></h1>
            <ul id="menu">
                <li><a href="/informace/">Informace</a></li>
                <li><a href="/program/">Program</a></li>
                <li><a href="/panteri/">Panteři</a></li>
                <li><a href="http://on.fb.me/ZFKgmb">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {{ content }}
    </div>
</body>
</html>
