<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body class="{{ page.class }}">
    <div id="sidebar">
        <div class="content">
            <h1>
                Festi<span class="kern">v</span>álek
                <span class="subtitle">bez bojů a válek</span>
            </h1>
            <ul id="menu">
                <li class="informace"><a href="/informace/">Informace</a></li>
                <li class="program"><a href="/program/">Program</a></li>
                <li class="panteri"><a href="/panteri/">Panteři</a></li>
                <li><a href="http://on.fb.me/ZFKgmb">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {{ content }}
    </div>
</body>
</html>
