---
layout: main
title: Program | Festiválek bez bojů a válek
class: program
---

<div class="lineup">
    {% for day in site.data.lineup %}
        <h2 class="day">{{ day.den }} <small>{{ day.kde }}</small></h2>
        {% for band in day.akce %}
            <h2>{{ band.kdo }} </h2>
	    <h3><small>{{ band.popis }} - {{ band.kdy }}</small></h3>
            <img src="{{ band.fotka }}">
            {% if band.odkazy %}
                <ul class="link-list">
                {% for url in band.odkazy %}
                    <li><a href="{{ url }}">{{ url | remove:'http://' | remove:'https://' | remove_first:'www.' | split:'/' | first }}</a>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <hr/>
    {% endfor %}

</div>


<p>Vstupné dobrovolné, <a
href="https://www.dropbox.com/s/510u4amybwpovqc/plakat_2018.pdf?dl=0">plakát
ke stažení</a>. Sledujte web a <a href="http://on.fb.me/ZFKgmb">Facebook</a>,
všechno plyne.</p>
