---
layout: main
title: Program | Festiválek bez bojů a válek
class: program
---

<div class="lineup">
    {% for day in site.data.lineup %}
        <h2 class="day">{{ day.den }} <small>{{ day.kde }}</small></h2>
        {% for band in day.akce %}
            <div class="band">
                <h3>{{ band.kdo }} <small>{{ band.popis }}</small></br>{{ band.kdy }}</h3>

                <img class="band-image" src="{{ band.fotka }}">
                {% if band.odkazy %}
                    <ul class="link-list">
                    {% for url in band.odkazy %}
                        <li><a href="{{ url }}">{{ url | remove:'http://' | remove:'https://' | remove_first:'www.' | split:'/' | first }}</a>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <hr/>
    {% endfor %}

</div>


<p>Vstupné dobrovolné, <a
href="https://www.dropbox.com/s/drkwldxn9d8w8ra/PLAKAT.pdf?dl=0&fbclid=IwAR2jq8UZf4uKSk6XfMGBTSVyKyoIqOHqRQY921l0i0gVmBgfw2CGDFEx-xA">plakát
ke stažení</a>. Sledujte web a <a href="http://on.fb.me/ZFKgmb">Facebook</a>,
všechno plyne.</p>
