---
layout: main
title: Program | Festiválek bez bojů a válek
class: program
---

<p>Letošní Festiválek se bude konat v následující dny na následujících místech:</p>

<ul class="facts">
    <li>pátek 7. srpna Kafe za rohem
    <li>sobota 8. srpna za muzeem
    <li>neděle 9. srpna kino Panorama
</ul>

<p>Vstupné dobrovolné, <a href="https://www.dropbox.com/s/urlgy31apje9air/fbbav_poster-2015_print.pdf?dl=0">plakát ke stažení</a>. Podrobný program:</p>

<div class="lineup">
    {% for band in site.data.lineup %}
    <h2>{{ band.kdo }} <small>{{ band.kdy }} {{ band.kde }}</small></h2>
    <img src="{{ band.fotka }}">
    {% if band.odkazy %}
        <ul class="link-list">
        {% for url in band.odkazy %}
            <li><a href="{{ url }}">{{ url | remove:'http://' | remove_first:'www.' | split:'/' | first }}</a>
        {% endfor %}
        </ul>
    {% endif %}
    {% endfor %}
</div>

<p>Sledujte web a <a href="http://on.fb.me/ZFKgmb">Facebook</a>, všechno
plyne.</p>
