<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://fbbav.cz/img/share.png">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/lib/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
</head>
<body class="{{ page.class }}">
    
    <div id="navigation">
        <div class="container content">
            <h1>
                Festi<span class="kern">v</span>álek
                <span class="subtitle">bez bojů a válek</span>
            </h1>
            <ul id="menu">
                <li class="program"><a href="/program/">Program</a></li>
                <li class="fotky"><a href="/fotky/">Fotky</a></li>
                <li class="informace"><a href="/informace/">Kontakt</a></li>
                <li><a href="http://on.fb.me/ZFKgmb">Facebook</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/analytics.js"></script>
    <script src="/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script>
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
    </script>

</body>
</html>
